In [1]:
import pandas as pd
df = pd.read_csv('train.csv')

# 1) Com base na questão 2 da prova passada, pesquisar e aplicar mais 2
# algoritmos de ML na base da prova e comparar os % de acerto
# 2) Pesquisar e aplicar o mecanismo de "matriz de confusão" explicando
# os resultados das matrizes para os 3 algoritmos envolvidos.

In [10]:
x = df[['Sex', 'Embarked', 'Pclass']]
y = df['Survived']
x = pd.get_dummies(x)

   Pclass  Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0       3           0         1           0           0           1
1       1           1         0           1           0           0
2       3           1         0           0           0           1
3       1           1         0           0           0           1
4       3           0         1           0           0           1
5       3           0         1           0           1           0
6       1           0         1           0           0           1
7       3           0         1           0           0           1
8       3           1         0           0           0           1
9       2           1         0           1           0           0

In [54]:
from sklearn import linear_model
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.20, random_state=0)

modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)
modelo.predict(x_teste)
modelo.score(x_teste, y_teste)
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [53]:
linear = linear_model.LinearRegression()

linear.fit(x_treino, y_treino)
linear.predict(x_teste)
linear.score(x_teste, y_teste)
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)
#print('Coefficient: \n', linear.coef_)
#print('Intercept: \n', linear.intercept_)
#Predict Output
#predicted= linear.predict(x_teste)

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [52]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_treino, y_treino)
model.score(x_treino, y_treino)
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)
#Equation coefficient and Intercept
#print('Coefficient: \n', model.coef_)
#print('Intercept: \n', model.intercept_)
#Predict Output
#predicted= model.predict(x_teste)

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [51]:
from sklearn import tree

model = tree.DecisionTreeClassifier(criterion='gini')
model.fit(x_treino, y_treino)
model.score(x_treino, y_treino)
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

#Predict Output
#predicted= model.predict(x_teste)

Predito    0   1  All
Real
0        105   5  110
1         27  42   69
All      132  47  179

In [31]:
from sklearn.metrics import confusion_matrix
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

# confusion_matrix(y_teste, model.predict(x_teste))

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [32]:
confusion_matrix(y_teste, model.predict(x_teste))

array([[92, 18],
       [20, 49]], dtype=int64)

In [50]:
print("De %d sobreviveram %d e morreram %d." % (len(df), len(df[df['Survived'] == 1]), len(df[df['Survived'] == 0])))

De 891 sobreviveram 342 e morreram 549.